.inner {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  pointer-events: none;
}

.outer {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.big-text {
  font-size: 40px;
}

.display-none {
  display: none;
}

#hiddenMessage {
  height: 50px;
  border: 1px solid black;
}

.moving-box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: fixed;
  left: 50px;
  top: 100px;
}
