header > img {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 10px;
}

.flex-container > div {
  border: 1px solid black;
  /* min-height: 70px;
  min-width: 100px; */
  /* width: 100px; */
  flex-basis: 100px;
  font-size: 25px;
}

/* .stretch {
  align-self: end;
} */

.flex-container {
  gap: 10px;
  flex-wrap: wrap;
  min-height: 700px;
  border: 1px solid red;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
  align-content: center;
}

/* .flex-shrink-0 {
  flex-shrink: 2;
}

.flex-grow-1 {
  flex: 1 0 300px;
}

.flex-grow-2 {
  flex-grow: 2;
} */

/* .order-1 {
  order: 1;
}

.order-2 {
  order: 2;
} */