* {
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

.test1 {
  padding: 10px;
  border: 2px solid black;
  /* border-width: 50px; */
  margin: 40px;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  background-color: red;
}

.test2 {
  border: 20px solid black;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  /* padding: 10px 20px 30px 40px; */
  padding: 10px 20px;
  /* border-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1200px-Cat_August_2010-4.jpg"); */
}

.block1 {
  width: 300px;
  height: 300px;
  background-color: royalblue;
  padding: 30px;
  border: 4px solid black
}

.block2 {
  width: 300px;
  height: 300px;
  padding: 50px;
  border: 4px solid black;
  background-color: rgb(63, 85, 151);
}

.block3 {
  width: 250px;
  height: 200px;
  border: 5px solid black;
}

/* 1 blokas: bendras elemento aukštis ir plotis 300px, kurį sudarys 30px padding ir 4px border
2 blokas: elemento aukštis ir plotis 300px, kurį sudarys 50px padding ir 4px border
1 ir 2 blokas turi būti vienodo dydžio
3 blokas: turi būti 250px aukščio ir 200px pločio bei turėti 5px rėmelį; */

.test3 {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
}

.test31 {
  font-size: 20px;
  background-color: royalblue;
  width: 50%;
  height: 80%;
  padding: 1.5em;
  margin-left: 1rem;
}

.test4 {
  background-color: rgb(109, 116, 138);
  width: 80vw;
  height: 50vh;
}