.grid-container > div {
  background-color: orange;
  text-align: center;
  line-height: 150px;
  color: white;
  font-size: 2rem;
}

.grid-container {
  display: grid;
  grid-auto-rows: 150px;
  gap: 0.5rem;
}

.grid-item-4 {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  } 

  .grid-item-4 {
    display: block;
  }

  .grid-item-1 {
    grid-column: span 4;
  }

  .grid-item-2 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .grid-item-4 {
    display: block;
  }

  .grid-item-1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid-item-2 {
    grid-column: span 2;
  }
}